@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(180deg, rgba(227, 227, 227, 1) 0%, rgba(255, 255, 255, 1) 56%);
}

.containerFilter {
    margin: 0 auto;
}

.headerTitleEni {
    color: #FFCBD2;
}

#nullArticle {
    color: brown;
    text-align: center;
    text-transform: uppercase;
}

.card-img-top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
span.text-muted{
    font-size: 15px;
}
small.text-muted{
    font-size: 12px;
}
h5.mb-0{
    font-size: 1rem;
}
small.ghj{
    font-size: 9px;
}
.mid{
    background: #ECEDF1;
}

.mid2{
    background: #ffffff;
}

h6.ml-1{
    font-size: 13px;
}

small.key{
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}
.btn-danger{
    color: #FFCBD2;
}
.btn-danger:focus{
    box-shadow: none;
}
small.justify-content-center{
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
}

.pseudoUtilisateur {
    text-transform: uppercase;
}